<div id="car-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click=""><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Property</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="carAddOrUpdateCtrl.frmCarEdit">
                    <h5>Datos del vehiculo</h5>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">Close</button>
                <button type="button" class="btn btn-info" ng-click="" ng-disabled="">Save</button>
            </div>
        </div>
    </div>
</div>