<h2>Properties</h2>
<div class="panel panel-default">
    <div class="panel-heading">        
        <div class="row">
            <div class="col-sm-10">Properties</div>
            <div class="col-sm-2">
                <a ng-href="" class="btn btn-info pull-left" ng-click="ownerListCtrl.addOrUpdate(0)">Add owner</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
                
        <!--List-->
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th ng-repeat="attribute in ownerListCtrl.attributes">
                        <span ng-bind="::attribute.displayName"></span>
                    </th>
                </tr>
                <tr>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="owner in ownerListCtrl.owners">
                    <td ng-bind="::owner.firstName"></td>
                    <td ng-bind="::owner.surname"></td>
                    <td ng-bind="::owner.nick"></td>
                    <td ng-bind="::owner.personalPhoneNumber"></td>
                    <td ng-bind="::owner.city"></td>
                    <td ng-bind="::owner.country"></td>                    
                    <td>
                        <button class="btn" ng-click="ownerListCtrl.addOrUpdate(owner.id)"><i class="fa fa-edit"></i></button>
                        <button class="btn" ng-click="ownerListCtrl.remove(owner.id)"><i class="fa fa-remove"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <clc-pagination num-of-pages="ownerListCtrl.numOfPages" filter="ownerListCtrl.filter" total="{{ownerListCtrl.total}}" get-all="ownerListCtrl.getAll()"></clc-pagination>
    </div>
</div>